/*
Copyright Menzieshill Whitehall Swimming and Water Polo club 2019.
 */

.main-img {
    background-image: url("/img/banner.jpg");
    background-color: #ff3333;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-special-overflow {
    text-overflow: ellipsis;
}
.word-break {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
}
iframe {
    overflow-x: hidden;
    overflow-y: hidden;
}
.fullHeight {
    height: 100%;
    min-height: 50vh;
}

#s2 .column .card-img{
    width: 100%;
}
.nav-crd {
    min-height: 15rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#img-one {
    background-image: url("/img/swimming2.jpeg");
}
#img-two {
    background-image: url("/img/water-polo.jpeg");
}

#img-three {
    background-image: url("/img/open-water2.jpg");
}

#img-four {
    background-image: url("/img/fundraising.jpeg");
}
