/*
Copyright Menzieshill Whitehall Swimming and Water Polo club 2019.
 */

.main-img {
    background-image: url("/img/banner.jpg");
    background-color: #ff3333;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-special-overflow {
    text-overflow: ellipsis;
}
.word-break {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
}
iframe {
    overflow-x: hidden;
    overflow-y: hidden;
}
.fullHeight {
    height: 100%;
    min-height: 50vh;
}

