<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>429: Too many requests</title>
    <%- include('./partials/sharedMeta.ejs'); %>
</head>
<body>
<%- include('./partials/navbar.ejs'); %>
<section class="section has-text-centered is-large">
    <h2 class="title has-text-centered"><code>429</code>Too many requests.</h2>
    <h2 class="subtitle has-text-centered">You have made too many requests. Slow down.</h2>
</section>
<%- include('./partials/footer.ejs'); %>

</body>
</html>
