<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall home</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <%- include('./partials/sharedMeta.ejs'); %>

</head>
<body>
<noscript><h1 class="notification is-warning compat-warn">Please enable Javascript to make use of all the features on this site.</h1></noscript>
<%- include('./partials/navbar.ejs'); %>
<section class="section main-section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <h1 class="has-text-centered title">File archive</h1>
            <h2 class="has-text-centered subtitle">You can find old files and documents here.</h2>
            <%- include('./partials/docstore.ejs', {rootType: "archive"}); %>
        </div>

    </div>


</section>



<%- include('./partials/footer.ejs'); %>
</body>
</html>
