<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall | Documents</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <%- include('../shared/partials/sharedMeta.ejs'); %>
    <link rel="stylesheet" type="text/css" href="/css/icons.css">

</head>
<body>
<noscript><h1 class="notification is-warning compat-warn">Please enable Javascript to make use of all the features on this site.</h1></noscript>
<%- include('../shared/partials/navbar.ejs'); %>

<div class="columns">
    <div class="column is-10 is-offset-1">
        <h1 class="has-text-centered title">Documents home</h1>
        <h2 class="has-text-centered subtitle">You can find important documents such as policies here.</h2>
        <%- include('../shared/partials/docstore.ejs', {rootType: "docs"}); %>>
    </div>

</div>

<%- include('../shared/partials/footer.ejs'); %>
</body>
</html>