<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Land training | Menzieshill Whitehall</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/land-training.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">

    <script src="/js/index.js"></script>
    <script src="/js/apiFetch.js"></script>

</head>
<body>
<noscript><h1 class="notification is-warning compat-warn">Please enable Javascript to make use of all the features on this site.</h1></noscript>
<%- include('./partials/navbar.ejs'); %>
<section class="hero hero-img">
<div class="hero-body" aria-label="Land training header image">
<h1 class="is-hidden">Land training: Fitness sessions</h1>
</div>
</section>
<section class="main-section section-one">
    <div class="columns is-mobile">
        <div class="column is-3 has-background-dark left-part has-text-light is-uppercase">
            <h1 class="is-size-3">No pool</h1>
            <h1 class="is-size-3">No excuses</h1>
        </div>
        <div class="column is-8">
            <div class="columns">
                <div class="column vertical-divider">
                    <h2 class="subtitle">Why?</h2>
                    <div class="content">
                        <ul>
                            <li>
                                Improve performance – Core, Strength, Power, Fitness, Cardio, Reaction times
                            </li>
                            <li>
                                Prevent Injuries – Overuse, focus area on body
                            </li>
                            <li>
                                Stay engaged – new opportunities to improve
                            </li>
                            <li>
                                Prevent burnout – keep training interesting
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="column">
                    <h2 class="subtitle">Examples of core exercises</h2>
                    <div class="content">
                        <ul>
                            <li>
                                Plank
                            </li>
                            <li>
                                Leg raises
                            </li>
                            <li>
                                Dolphin Kick
                            </li>
                            <li>
                                Alternating superman
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
<section class="main-section section-one">
    <div class="columns is-mobile">
        <div class="column is-3 has-background-info left-part has-text-light is-uppercase">
            <h1 class="is-size-3">When, where and for who?</h1>
        </div>
        <div class="column is-8">
            <div class="columns">
                <div class="column vertical-divider">
                    <h2 class="subtitle">When?</h2>
                    <div class="content">
                        <ul>
                            <li>Wednesday: 6-7pm</li>
                            <li>Sunday: 9-10am</li>
                        </ul>
                    </div>


                    <h2 class="subtitle">Where?</h2>
                    <p>Harris Academy</p>
                        <p>Perth Road</p>
                    <p>Dundee</p>
                        <p>DD2 1NL</p>


                </div>
                <div class="column">
                    <div class="notification is-warning">
                        Dependent on the ability of the athlete
                    </div>
                    <div class="notification is-success">
                        Athletes doing 2 or more hours per week of training are actively encouraged to participate.
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>

<!-- Footer-->
<%- include('./partials/footer.ejs'); %>

</body>
</html>

