<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill | Open water</title>
    <%- include('./partials/sharedMeta.ejs'); %>
    <script src="/js/swimming.js"></script>
</head>
<body>
<%- include('./partials/navbar.ejs'); %>
<div class="tabs is-centered is-boxed page-control">
    <ul>
        <li class="is-active">
            <a>

                <span>Open water home</span>
            </a>
        </li>
        <li>
            <a>

                <span>Our coaches</span>
            </a>
        </li>
        <li>
            <a>

                <span>Events</span>
            </a>
        </li>
    </ul>
</div>
<div class="page-content">
    <!-- One -->
    <section class="container" id="home">
        <h2 class="title">General information</h2>


        <p>Open Water swimming is unique and is completely different from Pool Swimming. Not only does it get you off the poolside and to visit some of the most beautiful parts of the country, from the Highlands down to Stirlingshire and everywhere in between.</p>
        <p>Competitive open water can be traced back to Roman times but in its modern form has been a recognised discipline since 1986.</p>
        <p>Season June to September depending on water temperature.</p>
        <p>Distances, 5,10, 25Km </p>
        <p>Swimmers as young as 11 years old take part in competition.</p>
        <p>The National development squad competes abroad.</p>
        <p>Equipment required, wet suit depending on water temperature, cap, goggles (not dark). </p>
        <p>YEABBA - Dundee is the only Open water specific club in Scotland.</p>
        <p>Events are advertised on the website. If you would like to give it a try or have another enquiry please contact Kieran Spalding &lt;kieran.spalding26@gmail.com&gt;</p>

        <h2 class="subtitle">Club Open Water Achievements</h2>
        <p>On Saturday 6th August 2016 Menzieshill Whitehall held its first Open Water Swim. Swimmers swam from Tayport across the River Tay to Broughty Ferry.</p>
        <p>9 Swimmers took part.</p>
        <table class="table">

            <tr>
                <th>
                    Category
                </th>
                <th>
                    Placing
                </th>
                <th>
                    Swimmer
                </th>
                <th>
                    Time
                </th>
            </tr>
            <tr>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p>22:31</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>2nd</p>
                </td>
                <td>
                    <p>Logan Shepherd</p>
                </td>
                <td>
                    <p>22:32</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>3rd</p>
                </td>
                <td>
                    <p>Kieran Spalding</p>
                </td>
                <td>
                    <p>23:50</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>4th </p>
                </td>
                <td>
                    <p>Braden Henderson</p>
                </td>
                <td>
                    <p>24:16</p>
                </td>
            </tr>
            <tr>
                <th>
                    <p>Senior Female</p>
                </th>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Amy Robertson </p>
                </td>
                <td>
                    <p> 26:31</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2nd</p>
                </td>
                <td>
                    <p>Laura Mathewson </p>
                </td>
                <td>
                    <p>27:00</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>3rd</p>
                </td>
                <td>
                    <p>Erica Mappin </p>
                </td>
                <td>
                    <p>29:07</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Junior Male</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Mika Mitchell </p>
                </td>
                <td>
                    <p>26:28</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2nd</p>
                </td>
                <td>
                    <p>Nick Mappin </p>
                </td>
                <td>
                    <p> 32:13</p>
                </td>
            </tr>
        </table>
        <p> </p>
        <table>
            <tr>
                <td>
                    <p>Single Tay Swim</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Date</p>
                </td>
                <td>
                    <p>Category</p>
                </td>
                <td>
                    <p>Placing</p>
                </td>
                <td>
                    <p>Swimmer</p>
                </td>
                <td>
                    <p>Time</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>June 2018</p>
                    <p> </p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p>00.18.59</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>June 2019</p>
                    <p> </p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p>00.19.56</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2nd </p>
                </td>
                <td>
                    <p>Kieran Spalding</p>
                </td>
                <td>
                    <p>00.21.03</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Junior Male</p>
                </td>
                <td>
                    <p>4th </p>
                </td>
                <td>
                    <p>Caelan Milne </p>
                </td>
                <td>
                    <p>00.22.06</p>
                    <p>(new record)</p>
                </td>
            </tr>
        </table>
        <p> </p>
        <table>
            <tr>
                <td>
                    <p>Double Tay Swim - Tayport Cup</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Date</p>
                </td>
                <td>
                    <p>Category</p>
                </td>
                <td>
                    <p>Placing</p>
                </td>
                <td>
                    <p>Swimmer</p>
                </td>
                <td>
                    <p>Time</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p/>
                    <p> June 2016</p>
                    <p/>
                    <p> </p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p>  00.23.04  </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2nd </p>
                </td>
                <td>
                    <p>Kieran Spalding</p>
                </td>
                <td>
                    <p>00.24.04</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Junior Male</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Mika Mitchell</p>
                </td>
                <td>
                    <p>00.25.26</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>July 2017</p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p>1.02.42</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>August 2018</p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p>00.44.47</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2nd </p>
                </td>
                <td>
                    <p>Kieran Spalding</p>
                </td>
                <td>
                    <p>00.50.12</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>July 2019</p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p/>
                    <p>00.44.10</p>
                    <p/>
                </td>
            </tr>
        </table>
        <p/>
        <p> </p>
        <table>
            <tr>
                <td>
                    <p>Balmerino to Broughty Ferry</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Date</p>
                </td>
                <td>
                    <p>Category</p>
                </td>
                <td>
                    <p>Placing</p>
                </td>
                <td>
                    <p>Swimmer</p>
                </td>
                <td>
                    <p>Time</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>June 2018</p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p>02.20.00</p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <p>Crannog Isle</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Date</p>
                </td>
                <td>
                    <p>Category</p>
                </td>
                <td>
                    <p>Placing</p>
                </td>
                <td>
                    <p>Swimmer</p>
                </td>
                <td>
                    <p>Time</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2014</p>
                </td>
                <td>
                    <p>Junior Female</p>
                    <p> </p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Amy Robertson </p>
                </td>
                <td>
                    <p>00.26.42 </p>
                    <p>new record Junior/Senior Female/Male</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2nd</p>
                </td>
                <td>
                    <p>Erica Mappin</p>
                </td>
                <td>
                    <p>00.35.07</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>September 2016</p>
                    <p> </p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Kieran Spalding</p>
                </td>
                <td>
                    <p>00.31.29</p>
                    <p>new record</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p> </p>
                </td>
                <td>
                    <p>Junior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Mika Mitchell</p>
                </td>
                <td>
                    <p>00.31.29    new record</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>August 2017</p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Kieran Spalding</p>
                </td>
                <td>
                    <p>00.29.22</p>
                </td>
            </tr>
        </table>
        <p> </p>
        <table>
            <tr>
                <td>
                    <p>Broughty Ferry Harbour Relay</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Date</p>
                </td>
                <td>
                    <p>Placing</p>
                </td>
                <td>
                    <p>Swimmers</p>
                </td>
                <td>
                    <p>Time</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>July 2016</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p>Kieran Spalding, Laura Mathewson, Mika Mitchell, Robert Mitchell</p>
                </td>
                <td>
                    <p>00.27.51</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>July 2017</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Steven Cuthbert, Matthew Spalding, Steven Adams, Kieran Spalding </p>
                </td>
                <td>
                    <p>00.20.10 </p>
                    <p>new record</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>July 2018</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Bryce Affleck, John Burke, Caelan Milne, Darren Robertson</p>
                </td>
                <td>
                    <p>00.34.02</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>June 2019</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Kieran Spalding, John Burke, Caelan Milne, Ewan Muirhead</p>
                </td>
                <td>
                    <p/>
                    <p>00.21.35</p>
                    <p/>
                </td>
            </tr>
        </table>
        <p> </p>
        <table>
            <tr>
                <td>
                    <p>Discovery Mile</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Date</p>
                </td>
                <td>
                    <p>Category</p>
                </td>
                <td>
                    <p>Placing</p>
                </td>
                <td>
                    <p>Swimmers</p>
                </td>
                <td>
                    <p>Time</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2015</p>
                </td>
                <td>
                    <p>Junior Male</p>
                </td>
                <td>
                    <p>1st </p>
                </td>
                <td>
                    <p> Mika Mitchell</p>
                </td>
                <td>
                    <p>00.20.37</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p> 2016</p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Steven Adams </p>
                </td>
                <td>
                    <p>00.18.52</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>3rd</p>
                </td>
                <td>
                    <p>Robert Mitchell</p>
                </td>
                <td>
                    <p>00.22.40</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2017</p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p>00.22.51</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2nd</p>
                </td>
                <td>
                    <p>Kieran Spalding</p>
                </td>
                <td>
                    <p>00.23.24</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Junior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Matthew Spalding</p>
                </td>
                <td>
                    <p>00.36.53</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2018</p>
                </td>
                <td>
                    <p>Senior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>Steven Adams</p>
                </td>
                <td>
                    <p>00.27.11</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>2nd</p>
                </td>
                <td>
                    <p>Kieran Spalding</p>
                </td>
                <td>
                    <p>00.28.17</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Junior Male</p>
                </td>
                <td>
                    <p>1st</p>
                </td>
                <td>
                    <p>John Burke</p>
                </td>



    </section>
    <section class="container">Two</section>
    <section class="container">Three</section>
    <section class="container">Four</section>

</div>
<hr>
<p class="has-text-centered">If you need to contact our team , please use the <a class="link" href="/contact">Contact us</a> form.</p>
<%- include('./partials/posts.ejs'); %>
<%- include('./partials/footer.ejs'); %>

</body>
</html>
