<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill | Open water</title>
    <%- include('./partials/sharedMeta.ejs'); %>
    <script src="/js/swimming.js"></script>
</head>
<body>
<%- include('./partials/navbar.ejs'); %>
<div class="tabs is-centered is-boxed page-control">
    <ul>
        <li class="is-active">
            <a>

                <span>Open water home</span>
            </a>
        </li>
        <li>
            <a>

                <span>Our coaches</span>
            </a>
        </li>
        <li>
            <a>

                <span>Achievements</span>
            </a>
        </li>
    </ul>
</div>
<div class="page-content">
    <!-- One -->
    <section class="container" id="home">
        <h2 class="title has-text-centered">General information</h2>
        <div class="columns is-centered">
            <div class="column">
                <div class="image is-3by2">
                    <img src="/img/open-water/one.jpg" alt="One"/>
                </div>
            </div>

            <div class="column">
                <div class="image is-3by2 ">
                    <img src="/img/open-water/two.jpg" alt="Two"/>
                </div>
            </div>

            <div class="column is-hidden-mobile">
                <div class="image  is-3by2">
                    <img src="/img/open-water/three.jpg" alt="Three"/>
                </div>
            </div>

            <div class="column is-hidden-mobile">
                <div class="image  is-3by2">
                    <img src="/img/open-water2.jpg" alt="Four"/>
                </div>
            </div>
        </div>


        <div class="columns is-centered is-mobile">
            <div class="column is-8 is-10-mobile">
                <p>Open Water swimming is unique and is completely different from Pool Swimming. Not only does it get you off the poolside and to visit some of the most beautiful parts of the country, from the Highlands down to Stirlingshire and everywhere in between.</p>
                <p>Competitive open water can be traced back to Roman times but in its modern form has been a recognised discipline since 1986.</p>
                <p><strong>Season:</strong> June to September depending on water temperature.</p>
                <p><strong>Distances: </strong> 5, 10 and 25km </p>
                <p>Swimmers as young as 11 years old take part in competition.</p>
                <p>The National development squad competes abroad.</p>
                <p><strong>Equipment required</strong> wet suit depending on water temperature, cap, goggles (not dark). </p>
                <p><a href="https://www.yeaaba.org/">YEABBA - Dundee</a> is the only Open water specific club in Scotland.</p>
                <p>Events are advertised on the website. If you would like to give it a try or have another enquiry please contact <a href="mailto:kieran.spalding26@gmail.com">Kieran Spalding</a></p>



            </div>
        </div>



    </section>
    <section class="container">
        <h1>Coaches</h1>
        <p>Menzieshill open water primarily works with YEABBA Dundee.</p>

    </section>
    <section class="container"> <div class="columns is-centered is-mobile">
            <div class="column is-8-desktop is-10-mobile is-10-tablet">
                <h2 class="title has-text-centered">Club Open Water Achievements</h2>
                <p>On Saturday 6th August 2016 Menzieshill Whitehall held its first Open Water Swim. Swimmers swam from Tayport across the River Tay to Broughty Ferry.</p>
                <p>9 Swimmers took part.</p>
                <table class="table is-fullwidth is-bordered">
                    <tr>
                        <th>
                            Category
                        </th>
                        <th>
                            Placing
                        </th>
                        <th>
                            Swimmer
                        </th>
                        <th>
                            Time (MM.SS)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>22.31</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>2nd</p>
                        </td>
                        <td>
                            <p>Logan Shepherd</p>
                        </td>
                        <td>
                            <p>22.32</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>3rd</p>
                        </td>
                        <td>
                            <p>Kieran Spalding</p>
                        </td>
                        <td>
                            <p>23.50</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>4th </p>
                        </td>
                        <td>
                            <p>Braden Henderson</p>
                        </td>
                        <td>
                            <p>24.16</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>Senior Female</p>
                        </th>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Amy Robertson </p>
                        </td>
                        <td>
                            <p> 26.31</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>2nd</p>
                        </td>
                        <td>
                            <p>Laura Mathewson </p>
                        </td>
                        <td>
                            <p>27.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>3rd</p>
                        </td>
                        <td>
                            <p>Erica Mappin </p>
                        </td>
                        <td>
                            <p>29.07</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Junior Male
                        </th>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Mika Mitchell </p>
                        </td>
                        <td>
                            <p>26.28</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>2nd</p>
                        </td>
                        <td>
                            <p>Nick Mappin </p>
                        </td>
                        <td>
                            <p> 32.13</p>
                        </td>
                    </tr>
                </table>
                <h3 class="subtitle">Single Tay Swim</h3>
                <table class="table is-fullwidth is-bordered">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Placing
                        </th>
                        <th>
                            Swimmer
                        </th>
                        <th>
                            Time (MM.SS)
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p>June 2018</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>18.59</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>June 2019</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>19.56</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Senior Male</td>
                        <td>
                            <p>2nd </p>
                        </td>
                        <td>
                            <p>Kieran Spalding</p>
                        </td>
                        <td>
                            <p>21.03</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>Junior Male</p>
                        </td>
                        <td>
                            <p>4th </p>
                        </td>
                        <td>
                            <p>Caelan Milne </p>
                        </td>
                        <td>
                            <p>22.06 <span class="tag is-success">New record!</span></p>
                        </td>
                    </tr>
                </table>
                <h3 class="subtitle">Double Tay Swim - Tayport Cup</h3>
                <table class="table is-fullwidth is-bordered">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Placing
                        </th>
                        <th>
                            Swimmer
                        </th>
                        <th>
                            Time (H.MM.SS)
                        </th>
                    </tr>
                    <tr>
                        <th>
                            June 2016
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>  00.23.04  </p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <p>2nd </p>
                        </td>
                        <td>
                            <p>Kieran Spalding</p>
                        </td>
                        <td>
                            <p>00.24.04</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>Junior Male</p>
                        </td>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Mika Mitchell</p>
                        </td>
                        <td>
                            <p>00.25.26</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>July 2017</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>1.02.42</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>August 2018</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>00.44.47</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <p>2nd </p>
                        </td>
                        <td>
                            <p>Kieran Spalding</p>
                        </td>
                        <td>
                            <p>00.50.12</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>July 2019</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>

                            <p>00.44.10</p>

                        </td>
                    </tr>
                </table>
                <h3 class="subtitle">Balmerino to Broughty Ferry</h3>
                <table class="table is-fullwidth is-bordered">

                    <tr>
                        <th>
                            <p>Date</p>
                        </th>
                        <th>
                            <p>Category</p>
                        </th>
                        <th>
                            <p>Placing</p>
                        </th>
                        <th>
                            <p>Swimmer</p>
                        </th>
                        <th>
                            <p>Time (H.MM.SS)</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p>June 2018</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>2.20.00</p>
                        </td>
                    </tr>
                </table>
                <h3 class="subtitle">Crannog Isle</h3>
                <table class="table is-fullwidth is-bordered">
                    <tr>
                        <th>
                            <p>Date</p>
                        </th>
                        <th>
                            <p>Category</p>
                        </th>
                        <th>
                            <p>Placing</p>
                        </th>
                        <th>
                            <p>Swimmer</p>
                        </th>
                        <th>
                            <p>Time (MM.SS)</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p>2014</p>
                        </th>
                        <th>
                            <p>Junior Female</p>
                            <p> </p>
                        </th>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Amy Robertson </p>
                        </td>
                        <td>
                            <p>00.26.42 </p>
                            <p><span class="tag is-success">New record!</span> Junior/Senior Female/Male</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <p>2nd</p>
                        </td>
                        <td>
                            <p>Erica Mappin</p>
                        </td>
                        <td>
                            <p>00.35.07</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>September 2016</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Kieran Spalding</p>
                        </td>
                        <td>
                            <p>00.31.29</p>
                            <p><span class="tag is-success">New record!</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <p>Junior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Mika Mitchell</p>
                        </td>
                        <td>
                            <p>00.31.29    <span class="tag is-success">New record!</span></p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>August 2017</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Kieran Spalding</p>
                        </td>
                        <td>
                            <p>00.29.22</p>
                        </td>
                    </tr>
                </table>
                <h3 class="subtitle">Broughty Ferry Harbour Relay</h3>
                <table class="table is-fullwidth is-bordered">
                    <tr>
                        <th>
                            <p>Date</p>
                        </th>
                        <th>
                            <p>Placing</p>
                        </th>
                        <th>
                            <p>Swimmers</p>
                        </th>
                        <th>
                            <p>Time</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>July 2016</p>
                        </td>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p>Kieran Spalding, Laura Mathewson, Mika Mitchell, Robert Mitchell</p>
                        </td>
                        <td>
                            <p>00.27.51</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>July 2017</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Cuthbert, Matthew Spalding, Steven Adams, Kieran Spalding </p>
                        </td>
                        <td>
                            <p>00.20.10 </p>
                            <p><span class="tag is-success">New record!</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>July 2018</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Bryce Affleck, John Burke, Caelan Milne, Darren Robertson</p>
                        </td>
                        <td>
                            <p>00.34.02</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>June 2019</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Kieran Spalding, John Burke, Caelan Milne, Ewan Muirhead</p>
                        </td>
                        <td>
                            <p>00.21.35</p>
                        </td>
                    </tr>
                </table>
                <h3 class="subtitle">Discovery Mile</h3>
                <table class="table is-fullwidth is-bordered">
                    <tr>
                        <td>
                            <p>Date</p>
                        </td>
                        <td>
                            <p>Category</p>
                        </td>
                        <td>
                            <p>Placing</p>
                        </td>
                        <td>
                            <p>Swimmers</p>
                        </td>
                        <td>
                            <p>Time</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>2015</p>
                        </th>
                        <td>
                            <p>Junior Male</p>
                        </td>
                        <td>
                            <p>1st </p>
                        </td>
                        <td>
                            <p> Mika Mitchell</p>
                        </td>
                        <td>
                            <p>00.20.37</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p> 2016</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams </p>
                        </td>
                        <td>
                            <p>00.18.52</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <p>3rd</p>
                        </td>
                        <td>
                            <p>Robert Mitchell</p>
                        </td>
                        <td>
                            <p>00.22.40</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>2017</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>00.22.51</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <p>2nd</p>
                        </td>
                        <td>
                            <p>Kieran Spalding</p>
                        </td>
                        <td>
                            <p>00.23.24</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>Junior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Matthew Spalding</p>
                        </td>
                        <td>
                            <p>00.36.53</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>2018</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>00.27.11</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <p>2nd</p>
                        </td>
                        <td>
                            <p>Kieran Spalding</p>
                        </td>
                        <td>
                            <p>00.28.17</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p>Junior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>John Burke</p>
                        </td>

                        <td>00.29.00</td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <p>2nd</p>
                        </td>
                        <td>
                            <p>Caelan Milne</p>
                        </td>
                        <td>
                            <p>00.29.39</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td></td>
                        <td>
                            <p>3rd</p>
                        </td>
                        <td>
                            <p>Ewan Muirhead</p>
                        </td>
                        <td>
                            <p>00.33.25</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="subtitle"></h3>
                <table class="table is-fullwidth is-bordered">
                    <tbody>
                    <tr>
                        <th>
                            <p>Date</p>
                        </th>
                        <th>
                            <p>Category</p>
                        </th>
                        <th>
                            <p>Placing</p>
                        </th>
                        <th>
                            <p>Swimmers</p>
                        </th>
                        <th>
                            <p>Time</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p>August 2015</p>
                        </th>
                        <td>
                            <p>Junior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Mika Mitchell</p>
                        </td>
                        <td>
                            <p>00.33.32</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>September 2017</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>00.29.35 <span class="tag is-success">New record!</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="subtitle">Midlands Long Distance Open Water Event</h3>
                <p>This event was swam for the first time since the 1930's</p>
                <table class="table is-fullwidth is-bordered">
                    <tbody>
                    <tr>
                        <th>
                            <p>Date</p>
                        </th>
                        <th>
                            <p>Placing</p>
                        </th>
                        <th>
                            <p>Swimmer</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>1960</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Frank Jordan</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>August 2017</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="subtitle">BLDSA Torbay Open Water Swim</h3>
                <table class="table is-fullwidth is-bordered">
                    <tbody>
                    <tr>
                        <td>
                            <p>Date</p>
                        </td>
                        <td>
                            <p>Category</p>
                        </td>
                        <td>
                            <p>Placing</p>
                        </td>
                        <td>
                            <p>Swimmers</p>
                        </td>
                        <td>
                            <p>Time</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>June 2018</p>
                        </td>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>03.30.04</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="subtitle">Broughty Ferry to Woodhaven</h3>
                <table class="table is-fullwidth is-bordered">
                    <tbody>
                    <tr>
                        <th>
                            <p>Date</p>
                        </th>
                        <th>
                            <p>Category</p>
                        </th>
                        <th>
                            <p>Placing</p>
                        </th>
                        <th>
                            <p>Swimmers</p>
                        </th>
                        <th>
                            <p>Time</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>August 2015</p>
                        </td>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>00.59.02</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>July 2019</p>
                        </td>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>01.15.16</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <p>2nd</p>
                        </td>
                        <td>
                            <p>Kieran Spalding</p>
                        </td>
                        <td>
                            <p>01.22.16</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="subtitle">Lochearn 6.5miles</h3>
                <table class="table is-fullwidth is-bordered">
                    <tbody>
                    <tr>
                        <th>
                            <p>Date</p>
                        </th>
                        <th>
                            <p>Category</p>
                        </th>
                        <th>
                            <p>Placing</p>
                        </th>
                        <th>
                            <p>Swimmers</p>
                        </th>
                        <th>
                            <p>Time</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p>August 2018</p>
                        </th>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>3hrs 19mins</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="subtitle">Monifieth - Broughty Ferry</h3>
                <table class="table is-fullwidth is-bordered">
                    <tbody>
                    <tr>
                        <th>
                            <p>Date</p>
                        </th>
                        <th>
                            <p>Category</p>
                        </th>
                        <th>
                            <p>Placing</p>
                        </th>
                        <th>
                            <p>Swimmers</p>
                        </th>
                        <th>
                            <p>Time</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>July 2019</p>
                        </td>
                        <td>
                            <p>Senior Male</p>
                        </td>
                        <td>
                            <p>1st</p>
                        </td>
                        <td>
                            <p>Steven Adams</p>
                        </td>
                        <td>
                            <p>00.52.35</p>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div></section>

</div>
<hr>
<p class="has-text-centered">If you need to contact our team , please use the <a class="link" href="/contact">Contact us</a> form.</p>
<%- include('./partials/posts.ejs'); %>
<%- include('./partials/footer.ejs'); %>

</body>
</html>
