<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill | Open water</title>
    <%- include('../shared/partials/sharedMeta.ejs'); %>
    <script src="/js/swimming.js"></script>
</head>
<body>
<%- include('../shared/partials/navbar.ejs'); %>
<div class="tabs is-centered is-boxed page-control">
    <ul>
        <li class="is-active">
            <a>

                <span>Open water home</span>
            </a>
        </li>
        <li>
            <a>

                <span>Our coaches</span>
            </a>
        </li>
        <li>
            <a>

                <span>Events</span>
            </a>
        </li>
    </ul>
</div>
<div class="page-content">
    <!-- One -->
    <section class="container has-text-centered" id="home">
        <h2 class="title">General information</h2>


    </section>
    <section class="container">Two</section>
    <section class="container">Three</section>
    <section class="container">Four</section>

</div>
<hr>
<p class="has-text-centered">If you need to contact our team , please use the <a class="link" href="/contact">Contact us</a> form.</p>
<%- include('../shared/partials/posts.ejs'); %>
<%- include('../shared/partials/footer.ejs'); %>

</body>
</html>