<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall home</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <%- include('../shared/partials/sharedMeta.ejs'); %>

</head>
<body>
<noscript><h1 class="notification is-warning compat-warn">Please enable Javascript to make use of all the features on this site.</h1></noscript>
<%- include('../shared/partials/navbar.ejs'); %>

    <div class="columns">
        <div class="column is-6 is-offset-3">
            <h1 class="has-text-centered title">Photo gallery</h1>
            <h2 class="has-text-centered subtitle">WIP: In future this will be a viewable gallery</h2>
            <iframe scrolling="no" src = "../shared/docstore.html?root=photos" class="docstore">
                Sorry your browser does not support inline frames.
            </iframe>
        </div>

    </div>

<%- include('../shared/partials/footer.ejs'); %>
</body>
</html>