<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall | Photos</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <%- include('../shared/partials/sharedMeta.ejs'); %>
</head>
<body>
<noscript><h1 class="notification is-warning compat-warn">Please enable Javascript to make use of all the features on this site.</h1></noscript>
<%- include('../shared/partials/navbar.ejs'); %>
<%- include('../shared/partials/docstore.ejs', {rootType: "photos"}); %>>



<%- include('../shared/partials/footer.ejs'); %>
</body>
</html>