<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall | Terms</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">

    <link rel="icon" href="/img/favicon.png">

    <script src="/js/index.js"></script>


</head>
<body>
<noscript><h1 class="notification is-warning compat-warn">Please enable Javascript to make use of all the features on this site.</h1></noscript>
<%- include('./partials/navbar.ejs'); %>
<section class="section main-section">
    <div class="columns">
        <div class="column is-8">
            <h1 class="title has-text-centered">Privacy Policy</h1>
            <h2 class="subtitle has-text-centered">General site users</h2>
            <p>Very little information concerning general site users is retained. We do not track you or set cookies of any kind.</p>
            <p>If there is an image of you on this site, or information regarding you that you would like to be rectified or removed under GDPR please use our <a href="/contact">Contact us</a> form</p>

            <h2 class="subtitle has-text-centered">Registered users</h2>
            <p>We only store information, images, and files which you explicitly supply to us. Content such as your first and second name and email address are stored as you supply them. These are stored securely.</p>
            <p>If there is an image of you on this site, or information regarding you that you would like to be rectified or removed under GDPR please use our <a href="/contact">Contact us</a> form</p>
            <p>You can remove your account at the "My account" page.</p>
        </div>
    </div>

</section>
<!-- Footer-->
<%- include('./partials/footer.ejs'); %>

<!-- 'Delayed' JS -->
<script src="/js/calendar.js"></script>
</body>
</html>
