<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <script src="/js/index.js"></script>
    <script src="/js/apiFetch.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
<noscript><h1 class="notification is-warning compat-warn">Please enable Javascript to make use of all the features on this site.</h1></noscript>
<%- include('../shared/partials/navbar.ejs'); %>
<section class="section">
    <div class="columns">

        <div class="column is-5 is-offset-4">


            <div class="login-container box">
                <h1 class="is-size-2 has-text-centered">Register</h1>
                <p class="has-text-centered">Fill out this form to create an account on our website, which is useful for keeping up to date but mainly for admins.</p>
                <hr>
        <form class="form control">
            <label class="label" for="first-name">Full name</label>
            <div class="field is-grouped">
                <div class="control">
                    <input class="input" type="text" placeholder="First name" id="first-name" name="firstName">
                    <p class="help"></p>
                </div>
                <div class="control">
                    <input class="input" type="text" placeholder="Second name" id="second-name" name="lastName">
                    <p class="help"></p>
                </div>
            </div>

            <div class="field">
                <label class="label" for="email">Email address</label>
                <div class="control">
                    <input class="input" type="email" placeholder="username@domain.com" name="email" id="email">
                </div>
            </div>

            <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Should be long & complex." name="password" id="password">
                </div>
            </div>

            <div class="field">
                <label for="password2" class="label">Confirm password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="The same as above!" name="password2" id="password2">
                </div>
            </div>

            <div class="field">
                <label class="label" for="username">Username</label>
                <div class="control">
                    <input class="input" type="text" placeholder="A custom username? Cool!" id="username" name="username">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>

            </div>


        </form>
    </div>
        </div>
    </div>
</section>


<!-- Footer-->
<%- include('../shared/partials/footer.ejs'); %>

</body>
</html>
