<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <%- include('../shared/partials/sharedMeta.ejs'); %>
    <script src="/js/register.js"></script>
</head>
<body>
<%- include('../shared/partials/navbar.ejs'); %>
<section class="section">
    <div class="columns">

        <div class="column is-half is-offset-one-quarter">


            <div class="login-container box">
                <h1 class="is-size-2 has-text-centered">Register</h1>
                <p class="has-text-centered">Fill out this form to create an account on our website, which is useful for keeping up to date.</p>
                <hr>
        <form class="form control">
            <label class="label" for="first-name">Full name</label>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="First name" id="first-name" max="30">
                        </div>
                    </div>
                    <div class="field">
                    <div class="control is-expanded">
                        <input class="input" type="text" placeholder="Second name" id="last-name" max="30">
                    </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="email">Email address</label>
                <div class="control">
                    <input class="input" type="email" placeholder="username@domain.com" id="email" max="50">
                    <p class="help">This is <strong>public</strong> and must be unique - no other account can use it.</p>
                </div>
            </div>

            <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Your password" name="password" id="password" min="6">
                    <p class="help">This should be more than 6 characters and complex.</p>
                </div>
            </div>

            <div class="field">
                <label for="password2" class="label">Confirm password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="The same as above!" name="password2" id="password2">
                </div>
            </div>

            <div class="field">
                <label class="label" for="username">Username</label>
                <div class="control">
                    <input class="input" type="text" placeholder="A custom username? Cool!" id="username" name="username">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox" for="terms-agreement">
                        <input type="checkbox" id="terms-agreement" name="terms" value="terms-agreed"> <!-- Isn't sent to server. Is used for client side.-->
                        I agree to the <a href="/terms">terms and conditions.</a>
                    </label>
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <input class="button is-link" type="submit" disabled id="submit" value="Submit"/>
                </div>

            </div>



        </form>
    </div>
            <p class="has-text-centered has-text-grey"><a href="/login">Login</a></p>
        </div>
    </div>
</section>


<!-- Footer-->
<%- include('../shared/partials/footer.ejs'); %>

</body>
</html>
