<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall | Swimming</title>
    <link rel="stylesheet" type="text/css" href="/css/swimming.css">
    <%- include('./partials/sharedMeta.ejs'); %>
    <script src="/js/swimming.js"></script>

</head>
<body>

<%- include('./partials/navbar.ejs'); %>
<section class="section colour-outer">
    <div class="colour-inner">
    <h1 class="title has-text-centered">Swimming </h1>
    <div class="colour-inner tabs is-centered is-boxed page-control">
        <ul>
            <li class="is-active">
                <a>

                    <span>Home</span>
                </a>
            </li>
            <li>
                <a>

                    <span>Our coaches</span>
                </a>
            </li>
            <li>
                <a>
                    <span>Learn to swim</span>
                </a>

            </li>

            <li>
                <a>
                    <span>Learn to swim <small>advanced</small></span>
                </a>
            </li>
            <li>
                <a>
                    <span>Squads</span>
                </a>

            </li>
        </ul>
    </div>
    <div class="page-content">
        <!-- One -->
        <section class="container has-text-centered" id="home">
            <h2 class="title">General information</h2>
            <p>At Menzieshill we have a wide variety of swimming sessions and we can cater to all levels of ability, whether you're looking for your child to learn a new skill, or keep fit as an adult.</p>
            <p>We passionately believe that Swimming can be a sport for life.</p>
        </section>
        <!-- Coaches section -->
        <section class="container">
            <div class="columns is-mobile">
                <div class="column is-offset-1 is-10">
                    <div class="columns is-multiline">

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-square">
                                        <img src="/img/coaches/CoralWalker.png" alt="Coral Walker photo">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Coral Walker</p>
                                    <p class="subtitle is-6">Learn to swim</p>

                                    <div class="content">
                                        Coral is a learn to swim coach and current president of the club
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-square">
                                        <img src="/img/coaches/LilyWalker.png" alt="Lily walker image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Lily Walker</p>
                                    <p class="subtitle is-6">Swim coach</p>
                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-square">
                                        <img src="/img/coaches/Lucy_Austin.jpeg" alt="Lucy Austin photo">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Lucy Austin</p>
                                    <p class="subtitle is-6">Swim coach </p>

                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-square">
                                        <img src="/img/coaches/Rebecca_Smith.jpg" alt="Rebecca Smith image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Rebecca Smith</p>
                                    <p class="subtitle is-6">Swim coach</p>

                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-square">
                                        <img src="/img/coaches/Shonagh_McMahon.jpg" alt="Shonagh_McMahon image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Shonagh McMahon</p>
                                    <p class="subtitle is-6">Swim coach</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="container is-hidden">
            <!-- Learn to swim -->
            <h2 class="subtitle has-text-centered">What does the Club offer for children wanting to learn to swim?</h2>
            <p class="has-text-centered">This is where your swimming journey begins!</p><br>
            <div class="columns is-centered">
                <div class="column is-8">
                    <p>At our Learn to Swim (LTS) we offer children who are approaching school age the opportunity to become water confident, begin to learn core aquatic skills and learn to swim.  They will have fun and be taught in a structured, safe group session with children of a similar ability. All sessions are led by qualified coaches and poolside helpers with a qualified lifeguard overseeing the sessions.  By the time the children leave our Saturday LTS, they will be confident in the swimming pool and be able to start lane swimming in a 25m pool. They will be ready to start the next level of swimming - the LTS Advance (Swim Skills) sessions within our Club.</p>
                    <p>We also accept children who have some experience of another LTS or Early Years programme.
                    </p>
                    <p> Our LTS programme follows the National Framework for swimming in Scotland. <a href="https://www.scottishswimming.com/learn-to-swim.aspx">https://www.scottishswimming.com/learn-to-swim.aspx</a></p>
                    <h2 class="subtitle has-text-centered">Where and when are these sessions held?</h2>
                    We currently run three, 40-minute sessions between 9am and 11am on a Saturday morning at Harris Academy swimming pool, Perth Road, Dundee.
                   <br>
                    <h2 class="subtitle has-text-centered">How can I get my child started on these Learn to Swim sessions?</h2>
                    You can enquire about getting your child into learn to swim through the <a href="/contact#swimming">Contact us</a> form. Please ensure you select "Swimming" as the area and <strong>"Learn to swim"</strong> as the subject.
                    <br>Following acceptance into our Club your child will be offered a place on one of the 40-minute sessions, dependant on space. Your child is required to become a Menzieshill Whitehall Swimming & Waterpolo Club member.
                    <br>
                    <div class="notification is-warning">
                        Please note that due to high demand, we currently have a waiting list for new swimmers.
                    </div>
                    <div class="image">
                        <img src="/img/swimming/christmas.jpg" alt="Christmas picture"/>
                    </div>

                </div>
            </div>
        </section>
        <section class="container is-hidden">Four</section>
        <section class="container is-hidden">
            <div class="columns is-mobile is-centered">
                <div class="column is-8">
                    <h1 class="title has-text-centered">Squad Structure</h1>
                    <h2 class="subtitle">Aims</h2>
                    <div class="content">
                        <p>
                            The purpose of the squad structure is to provide a pathway for swimmers who have reached the Club Ready Level of Scottish Swimming’s Learn to Swim Framework, introduced in 2016, and are keen to enter the next stage of swimming development. The squad programme aims to increase training frequency and volume, further enhance stroke technique and develop racing skills and a positive mental attitude. The aim of the squad structure is to foster a training environment where swimmers of similar ability and mindset can train and progress together.  The programme is developed around those swimmers who wish to swim competitively and will be designed to meet the entry criteria of the next squad in the squad hierarchy. Additionally the squad training environment will aim to foster team spirit amongst like minded athletes.
                        </p>
                        <p>
                            The Training schedule will follow the principles of the SASA Long Term Athlete Development Pathway from Stage 2 Swim Skills: Building Technique to Stage 5: Training to Win.
                        </p>
                        <p>
                            Each squad has a minimum training requirement and all swimmers at expected to adhere to the minimum training sessions.
                        </p>
                        <p>
                            Whilst the club enforces the minimum training requirements, all swimmers are encouraged to attend additional sessions
                        </p>
                        <p>
                            As swimmers progress through the squads the minimum training requirements increase and all swimmers  who enter into the squad structure , and their parents, should be aware of this , and reflect at the outset whether they have the time and commitment to attend the necessary training sessions.
                        </p>
                        <p>
                            Swimmers are assessed twice yearly, in March and September, to a set of documented performance criteria, which are tailored to each squad.
                        </p>
                        <p>
                            The detailed assessment criteria can be found in the Squad Booklet, a copy of which you can get from your coach.
                        </p>

                    </div>
                    <h2 class="subtitle">
                        Swimmers Squad Progression Chart
                    </h2>
                    <div class="columns is-mobile is-centered has-text-centered">
                        <div class="column is-8">
                            <div class="box">
                                LEARN TO SWIM
                            </div>

                            <div class="box">
                                DISCOVERY SQUAD
                            </div>
                            <div id="bronze" class="box">
                                BRONZE SQUAD
                            </div>
                            <div class="box" id="silver">
                                SILVER SQUAD
                            </div>
                            <div class="box" id="gold">
                                GOLD SQUAD
                            </div>
                            <div class="box has-background-success has-text-white">
                                DISTRICT SQUAD
                            </div>
                            <div class="box has-background-info has-text-light">
                                NATIONAL SQUAD
                            </div>

                        </div>
                    </div>

                </div>

            </div>


        </section>



    </div>

        <hr>
        <p class="has-text-centered">If you need to contact our swimming team, please use the <a class="link" href="/contact#swimming">Contact us</a> form.</p>
        <%- include('./partials/posts.ejs'); %>
</div>

</section>

<%- include('./partials/footer.ejs'); %>
</body>
</html>
