<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall Swimming</title>
    <link rel="stylesheet" type="text/css" href="/css/swimming.css">
    <%- include('../shared/partials/sharedMeta.ejs'); %>
    <script src="/js/swimming.js"></script>
</head>
<body>

<%- include('../shared/partials/navbar.ejs'); %>
<section class="section">
    <h1 class="title has-text-centered">Swimming</h1>
    <div class="tabs is-centered is-boxed page-control">
        <ul>
            <li class="is-active">
                <a>

                    <span>Swimming home</span>
                </a>
            </li>
            <li>
                <a>

                    <span>Our coaches</span>
                </a>
            </li>
            <li>
                <a>

                    <span>Events</span>
                </a>
            </li>
            <li>
                <a>
                    <span>Learn to swim</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <!-- One -->
        <section class="container has-text-centered" id="home">
            <h2 class="title">General information</h2>


        </section>
        <section class="container">Two</section>
        <section class="container">Three</section>
        <section class="container">Four</section>

    </div>
</section>

<%- include('../shared/partials/footer.ejs'); %>
</body>
</html>