<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall | Swimming</title>
    <link rel="stylesheet" type="text/css" href="/css/swimming.css">
    <%- include('../shared/partials/sharedMeta.ejs'); %>
    <script src="/js/swimming.js"></script>
</head>
<body>

<%- include('../shared/partials/navbar.ejs'); %>
<section class="section">
    <h1 class="title has-text-centered">Swimming </h1>
    <div class="tabs is-centered is-boxed page-control">
        <ul>
            <li class="is-active">
                <a>

                    <span>Home</span>
                </a>
            </li>
            <li>
                <a>

                    <span>Our coaches</span>
                </a>
            </li>
            <li>
                <a>
                    <span>Learn to swim</span>
                </a>

            </li>

            <li>
                <a>
                    <span>Learn to swim <small>advanced</small></span>
                </a>
            </li>
            <li>
                <a>
                    <span>Squads</span>
                </a>

            </li>
            <li>
                <a>
                    <span>History</span>
                </a>

            </li>
        </ul>
    </div>
    <div class="page-content">
        <!-- One -->
        <section class="container has-text-centered" id="home">
            <h2 class="title">General information</h2>


        </section>
        <!-- Coaches section -->
        <section class="container">
            <div class="columns is-mobile">
                <div class="column is-offset-1 is-10">
                    <div class="columns is-multiline">

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1024px-Placeholder_no_text.svg.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Coach name</p>
                                    <p class="subtitle is-6">Coach area</p>

                                    <div class="content">
                                        Some optional information - such as qualifications or contact details.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1024px-Placeholder_no_text.svg.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Coach name</p>
                                    <p class="subtitle is-6">Coach area</p>

                                    <div class="content">
                                        Some optional information - such as qualifications or contact details.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Coach name</p>
                                    <p class="subtitle is-6">Coach area</p>

                                    <div class="content">
                                        Some optional information - such as qualifications or contact details.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Coach name</p>
                                    <p class="subtitle is-6">Coach area</p>

                                    <div class="content">
                                        Some optional information - such as qualifications or contact details.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="container" hidden>
            <!-- Learn to swim -->
            <h2 class="subtitle has-text-centered">What does the Club offer for children wanting to learn to swim?</h2>
            <p class="has-text-centered">This is where your swimming journey begins!</p><br>
            <div class="columns is-centered">
                <div class="column is-8">
                    <p>At our Learn to Swim (LTS) we offer children who are approaching school age the opportunity to become water confident, begin to learn core aquatic skills and learn to swim.  They will have fun and be taught in a structured, safe group session with children of a similar ability. All sessions are led by qualified coaches and poolside helpers with a qualified lifeguard overseeing the sessions.  By the time the children leave our Saturday LTS, they will be confident in the swimming pool and be able to start lane swimming in a 25m pool. They will be ready to start the next level of swimming - the LTS Advance (Swim Skills) sessions within our Club.</p>
                    <p>We also accept children who have some experience of another LTS or Early Years programme.
                    </p>
                    <p> Our LTS programme follows the National Framework for swimming in Scotland. <a href="https://www.scottishswimming.com/learn-to-swim.aspx">https://www.scottishswimming.com/learn-to-swim.aspx</a></p>
                    <h2 class="subtitle has-text-centered">Where and when are these sessions held?</h2>
                    We currently run three, 40-minute sessions between 9am and 11am on a Saturday morning at Harris Academy swimming pool, Perth Road, Dundee.
                   <br>
                    <h2 class="subtitle has-text-centered">How can I get my child started on these Learn to Swim sessions?</h2>
                    You can enquire about getting your child into learn to swim through the <a href="/contact#swimming">Contact us</a> form. Please ensure you select "Swimming" as the area and <strong>"Learn to swim"</strong> as the subject.
                    <br>Following acceptance into our Club your child will be offered a place on one of the 40-minute sessions, dependant on space. Your child is required to become a Menzieshill Whitehall Swimming & Waterpolo Club member.
                    <br>
                    <div class="notification is-warning">
                        Please note that due to high demand, we currently have a waiting list for new swimmers.
                    </div>


                </div>
            </div>
        </section>
        <section class="container" hidden>Four</section>
        <section class="container" hidden>Squads</section>



    </div>
    <hr>
    <p class="has-text-centered">If you need to contact our swimming team, please use the <a class="link" href="/contact#swimming">Contact us</a> form.</p>
</section>
<%- include('../shared/partials/posts.ejs'); %>
<%- include('../shared/partials/footer.ejs'); %>
</body>
</html>