<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall | Swimming</title>
    <link rel="stylesheet" type="text/css" href="/css/swimming.css">
    <%- include('../shared/partials/sharedMeta.ejs'); %>
    <script src="/js/swimming.js"></script>
</head>
<body>

<%- include('../shared/partials/navbar.ejs'); %>
<section class="section">
    <h1 class="title has-text-centered">Swimming </h1>
    <div class="tabs is-centered is-boxed page-control">
        <ul>
            <li class="is-active">
                <a>

                    <span>Home</span>
                </a>
            </li>
            <li>
                <a>

                    <span>Our coaches</span>
                </a>
            </li>
            <li>
                <a>
                    <span>Learn to swim</span>
                </a>

            </li>

            <li>
                <a>
                    <span>Learn to swim <small>advanced</small></span>
                </a>
            </li>
            <li>
                <a>
                    <span>Squads</span>
                </a>

            </li>
            <li>
                <a>
                    <span>History</span>
                </a>

            </li>
        </ul>
    </div>
    <div class="page-content">
        <!-- One -->
        <section class="container has-text-centered" id="home">
            <h2 class="title">General information</h2>


        </section>
        <!-- Coaches section -->
        <section class="container">
            <div class="columns is-mobile">
                <div class="column is-offset-1 is-10">
                    <div class="columns is-multiline">

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1024px-Placeholder_no_text.svg.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Coach name</p>
                                    <p class="subtitle is-6">Coach area</p>

                                    <div class="content">
                                        Some optional information - such as qualifications or contact details.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1024px-Placeholder_no_text.svg.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Coach name</p>
                                    <p class="subtitle is-6">Coach area</p>

                                    <div class="content">
                                        Some optional information - such as qualifications or contact details.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Coach name</p>
                                    <p class="subtitle is-6">Coach area</p>

                                    <div class="content">
                                        Some optional information - such as qualifications or contact details.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Coach card -->
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-4">Coach name</p>
                                    <p class="subtitle is-6">Coach area</p>

                                    <div class="content">
                                        Some optional information - such as qualifications or contact details.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="container">Three</section>
        <section class="container">Four</section>
        <section class="container">Squads</section>
        <!-- History -->
        <section class="container">
            <h1 class="title has-text-centered">Swimming Achievement History</h1>
            <h2 class="subtitle has-text-centered">SCOTTISH CHAMPIONS - WHITEHALL ASC</h2>
            <div class="columns">
                <div class="column is-8 is-offset-3">
                    <div class="content">
                        <h3 class="has-text-weight-semibold is-size-6">MEN</h3>
                        <ul>
                            <li><strong>T H RAE</strong> - 1927, 100yrds Breast Stroke</li>
                            <li><strong>J D REYNOLDS</strong> - 1929, 220yrds Free Style</li>
                            <li><strong>ANDY SHARP</strong> - 1937, 50yrds Free Style</li>
                            <li>
                                <strong>ROBERT SREENAN</strong>
                                <ul>
                                    <li>1953,54 &55, 440yrds Free Style</li>
                                    <li>1953,54,55 &56, 880yrds Free Style</li>
                                    <li>11 British Championships from 1952-58</li>
                                    <li>1952 Olympic Games, Helsinki</li>
                                    <li>To this day, Robert holds the record for the Double Tay Swim from Broughty Ferry to Tayport and back.</li>
                                </ul>
                            </li>
                            <li><strong>R S BURNS</strong> - 1955 150yrd Back Stroke</li>
                            <li><strong>A HOOD</strong> - 1955 & 56 Junior Boys Champion 100yrds Back Stroke</li>
                            <li><strong>IAN BLYTH</strong> - 1958, 100yrds Butterfly, Olympic Games 1960, Rome</li>
                            <li><strong>A NAIRN</strong> - 1930 & 31, Junior Champion 100yrds Free Style</li>
                            <li><strong>BERT DOWNIE</strong> - Midland District Champion, Back Stroke</li>
                            <li><strong>ROBERT BROWN</strong>
                                <ul>
                                    <li>
                                        1968,69,70,71,72 & 73, Midland District Champion 100m Butterfly, Breast Stroke & Free Style.
                                    </li>
                                    <li>1968,6970,71,72 & 73 Midland District Champion 200m IM.</li>
                                    <li>1972, Scottish Team, Isle of Man Nations Cup</li>
                                    <li>1972, Scottish Schools Champion (Milne Trophy) 100m Breast Stroke</li>

                                </ul>

                            </li>

                        </ul>

                        <h3 class="has-text-weight-semibold is-size-6">WOMEN</h3>
                        <ul>
                            <li><strong>E CAMERON</strong>
                                <ul>
                                    <li>1930 Junior Champion 100yrds Free Style</li>
                                    <li>440yrds Free Style</li>
                                    <li>
                                        1938 5 x 100yrds Free Style women’s relay
                                    </li>
                                    <li>

                                    </li>
                                </ul></li>
                            <li><strong>FLORA CONNELLY</strong>
                                <ul>
                                    <li>1954 & 55, 300yrd IM</li>
                                    <li>1955, 100yrds Free Style</li>
                                    <li>1955 & 56, 100yrds Butterfly</li>
                                    <li>1956, 440yrd IM</li>
                                    <li>1927,1928 & 1930,100yrds Back Stroke – 1921</li>
                                </ul>
                            </li>
                        </ul>
                        <h3 class="has-text-weight-semibold is-size-6">MENZIESHILL</h3>
                        <ul>
                            <li>
                                <strong>MENZIESHILL HIGH SCHOOL SWIM TEAM</strong>
                                <ul>
                                    <li>
                                        1974, set the long standing record of winning all four Midland Schools Swimming Championships.
                                    </li>
                                    <li>
                                        1974,77 & 80, World record for the 100mile marathon relay, maintaining a place in the Guinness Book of World Records. This record is still held today by the school team.
                                    </li>
                                    <li>
                                        1977, Menzieshill broke another record by having a relay team in every final at Scottish Schools Swimming Championships.
                                    </li>
                                    <li>
                                        1974, set the long standing record of winning all four Midland Schools Swimming Championships.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <h3 class="subtitle">MENZIESHILL</h3>
                        <h3 class="has-text-weight-semibold is-size-6">MENZIESHILL WHITEHALL</h3>

                        <ul>
                            <li>BRANDON BUCHAN - Scottish Disability Sport Swimming Records
                                <ul>
                                    <li>  25th May 2012, Dundee,  200m Back Stroke</li>
                                    <li>7th Sept 2013, Dundee, 100m IM</li>
                                    <li>2nd Nov 2013, Dundee, 400m, 800m 7 1500m Free Style</li>
                                    <li>23rd Nov 2013, Sheffield, 200m Free Style, 200m IM</li>
                                    <li>
                                        2013, Junior Swimming Champions Records(for swimmers with a learning disability), 100m Free Style, 100m IM, 50m Breast Stroke, 50m Back Stroke, 50m Butterfly.
                                    </li>
                                </ul>
                            </li>
                        </ul>


                        <h3 class="has-text-weight-semibold is-size-6">TAYSIDE AGE GROUP LEAGUES WINNERS</h3>
                       <ul>
                           <li>Premier League - Menzieshill Whitehall 2016, 2017</li>
                           <li>1st Division - Menzieshill Whitehall 2009, 2012, 2014</li>
                           <li>2nd Division - Menzieshill Whitehall 2011</li>
                       </ul>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <hr>
    <p class="has-text-centered">If you need to contact our swimming team, please use the <a class="link" href="/contact#swimming">Contact us</a> form.</p>
</section>
<%- include('../shared/partials/posts.ejs'); %>
<%- include('../shared/partials/footer.ejs'); %>
</body>
</html>