<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill Whitehall home</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/calendar.css">

    <link rel="icon" href="/img/favicon.png">

    <script src="/js/index.js"></script>
    <script src="/js/apiFetch.js"></script>
    <script src="/js/posts.js"></script>


</head>
<body>
<noscript><h1 class="notification is-warning compat-warn">Please enable Javascript to make use of all the features on this site.</h1></noscript>
<%- include('./partials/navbar.ejs'); %>
<section class="hero main-img is-medium">
    <div class="hero-body">
        <div class="container has-text-light">
            <h1 class="title">
                Menzieshill Whitehall Swimming & Water Polo club
            </h1>
            <h2 class="subtitle">
                Subtitle -
            </h2>
        </div>
    </div>
</section>
<section id="s2" class="section">
    <div class="columns" id="main-card-nav">
        <div class="column">
            <div class="card" >
                <a href="/swimming">
                    <div class="card-image is-square is-fullwidth nav-crd" id="img-one">
                    </div>
                    <div class="card-header">
                        <div class="card-header-title is-centered" >
                            Swimming
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="card" >
                <a href="/waterpolo">
                    <div class="card-image is-square is-fullwidth nav-crd" id="img-two">
                    </div>
                    <div class="card-header">
                        <div class="card-header-title is-centered" >
                            Water Polo
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="card" >
                <a href="#">
                    <div class="card-image is-square is-fullwidth nav-crd" id="img-three">
                    </div>
                    <div class="card-header">
                        <div class="card-header-title is-centered" >
                            Open Water
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="card" >
                <a href="#">
                    <div class="card-image is-square is-fullwidth nav-crd" id="img-four">
                    </div>
                    <div class="card-header">
                        <div class="card-header-title is-centered" >
                            Other events
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--    <div class="column">
            <div class="card" >
                <a href="/swimming">
                    <div class="card-image is-square is-fullwidth" >
                        <img src="/img/swimming2.jpeg" alt="Swimming team picture">
                    </div>
                    <div class="card-header">
                        <div class="card-header-title is-centered" >
                            Swimming
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="card" >
                <a href="/waterpolo">
                    <div class="card-image is-square" >
                        <img src="/img/water-polo.jpeg" alt="Placeholder image">
                    </div>
                    <div class="card-header">
                        <div class="card-header-title is-centered" >
                            Water Polo
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="card" >
                <a href="#">
                    <div class="card-image is-square" >
                        <img src="/img/open-water2.jpg" alt="Open water picture">
                    </div>
                    <div class="card-header">
                        <div class="card-header-title is-centered" >
                            Open Water
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="card" >
                <a href="#">
                    <div class="card-image is-square" >
                        <img src="/img/fundraising.jpeg" alt="Placeholder image">
                    </div>
                    <div class="card-header">
                        <div class="card-header-title is-centered" >
                            Other events
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>-->
<%- include('./partials/calendar.ejs'); %>

<section class="section">
    <!-- "Recent posts" -->
    <h1 class="title has-text-centered">Recent updates</h1>
    <hr>
    <div class="posts-parent">

    </div>
</section>
<!-- Footer-->
<%- include('./partials/footer.ejs'); %>

<!-- 'Delayed' JS -->
<script src="/js/calendar.js"></script>
</body>
</html>
