<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<%- include('../shared/partials/navbar.ejs'); %>
<%- include('../shared/partials/footer.ejs'); %>

</body>
</html>