<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menzieshill | Water Polo</title>
    <%- include('./partials/sharedMeta.ejs'); %>
    <script src="/js/swimming.js"></script>
</head>
<body>
<%- include('./partials/navbar.ejs'); %>
<div class="tabs is-centered is-boxed page-control">
    <ul>
        <li class="is-active">
            <a>

                <span>Water polo home</span>
            </a>
        </li>
        <li>
            <a>

                <span>Our coaches</span>
            </a>
        </li>
        <li>
            <a>

                <span>Events</span>
            </a>
        </li>

    </ul>
</div>
<div class="page-content">
    <!-- One -->
    <section class="container" id="home">
        <div class="columns is-centered">
            <div class="column">
                <div class="image is-3by2">
                    <img src="/img/water-polo/juniors.jpg" alt="Juniors"/>
                </div>
            </div>

            <div class="column">
                <div class="image is-3by2 is-hidden-mobile">
                    <img src="/img/water-polo/girls_team2.jpg" alt="Sea activities weekend"/>
                </div>
            </div>

            <div class="column is-hidden-mobile">
                <div class="image  is-3by2">
                    <img src="/img/welcome/3.jpg" alt="Water Polo game"/>
                </div>
            </div>

            <div class="column">
                <div class="image  is-3by2">
                    <img src="/img/water-polo/juniors_team.jpg" alt="Team"/>
                </div>
            </div>
        </div>

        <h2 class="title has-text-centered">General information</h2>
        <div class="columns is-centered is-mobile">
            <div class="column is-8-desktop is-8-tablet is-10-mobile">
                <div class="columns">
                    <div class="column">
                        <p>We have 3 training sessions. These are all hosted in deep water at the Olympia leisure centre:</p>
                        <div class="content">
                            <ul>
                                <li>
                                    <strong>Rookie</strong> 7-8pm Monday
                                </li>
                                <li>
                                    <strong>Juniors</strong> 8-9.30pm Tuesday
                                </li>
                                <li>
                                    <strong>Seniors</strong> 8-9.30pm Monday
                                </li>
                                <li>
                                    Additionally we have swim session for players every Monday 6-8pm.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image">
                            <img src="/img/water-polo/Olympia-Leisure.jpg" alt="Olympia" class="smooth-corners"/>
                        </div>
                    </div>
                </div>
            <p>With a wide variety of sessions for all levels of ability, and additional swimming training available there is a session for everyone - whether you are just learning the sport or are a veteran player.</p>
            <p>We have well established development pathways into playing at both a national and international level - with many of our members going on to achieve caps for the Scottish international teams.</p>
            <p>If you are interested in joining for fantastic club and team please get in touch using the <a href="/contact#water-polo">Contact us</a> form to arrange a come and try session.</p>
            </div>
        </div>


    </section>
    <section class="container">
        <div class="columns is-mobile">
            <div class="column is-offset-1 is-10">
                <div class="columns is-multiline">

                    <!-- Coach card -->
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://via.placeholder.com/400" alt="Graeme Wishart photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Graeme Wishart</p>
                                <p class="subtitle is-6">Head coach</p>

                                <div class="content">
                                    Graeme is our head coach and coach for the senior men.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Coach card -->
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="/img/water-polo/ben.jpg" alt="Ben Parsons image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Ben Parsons</p>
                                <p class="subtitle is-6">Coach for Juniors</p>
                                <div class="content">
                                    Ben is a Level-2 coach with international coaching experience.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Coach card -->
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="/img/water-polo/sam.jpg" alt="Sam Muir photo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Sam Muir</p>
                                <p class="subtitle is-6">Coach for Juniors</p>
                                <div class="content">
                                    Ben is a Level-2 coach with international coaching experience.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Coach card -->
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="/img/water-polo/bob.jpg" alt="Bob Muir image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Bob Muir</p>
                                <p class="subtitle is-6">Coach for Rookies</p>

                            </div>
                        </div>
                    </div>

                    <!-- Coach card -->
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="/img/water-polo/josh.jpg" alt="Josh Muir picture">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Josh Muir</p>
                                <p class="subtitle is-6">Coach for Rookies</p>

                            </div>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="/img/water-polo/jillian.jpg" alt="Jillian picture">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Jillian Livie</p>
                                <p class="subtitle is-6">Coach for Rookies</p>

                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">Kirsty Turfus</p>
                                <p class="subtitle is-6">Water Polo Swim coach</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <section class="container">
        <div class="columns is-centered is-mobile">
            <div class="column is-8-desktop is-8-tablet is-10-mobile">
                <p>We enter a wide variety of competitions every year, including:</p>
                <div class="content">
                    <ul>
                        <li>
                            Scottish National League
                        </li>
                        <li>
                            U16 boys, U16 girls, U19 Boys, U19 Girls, Men and Ladies
                        </li>
                    </ul>
                </div>
                <p>We've also achieved lots of success in these competitions, achieving 2nd Place in the U16 boys and U18 mens competition in 2018, and second in the U18 Men's finals in 2017.</p>
            </div>
        </div>




    </section>
    <section class="container">Four</section>

</div>
<hr>
<p class="has-text-centered">If you need to contact our Water polo team or are interested in starting Water Polo, please use the <a class="link" href="/contact#water-polo">Contact us</a> form.</p>



<%- include('./partials/posts.ejs'); %>

<div class="columns is-centered">
    <div class="column">
        <div class="image is-3by2">
            <img src="/img/water-polo/girls_team.jpg" alt="Juniors"/>
        </div>
    </div>

    <div class="column">
        <div class="image is-3by2">
            <img src="/img/water-polo/juniors2.jpg" alt="Sea activities weekend"/>
        </div>
    </div>

    <div class="column is-hidden-mobile">
        <div class="image  is-3by2">
            <img src="/img/water-polo/training.jpg" alt="Water Polo game"/>
        </div>
    </div>

    <div class="column">
        <div class="image  is-3by2">
            <img src="/img/water-polo/team-last.jpg" alt="Team"/>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs'); %>

</body>
</html>
