<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | Menzieshill Whitehall</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
    <link rel="icon" href="/img/favicon.png">

    <script src="/js/index.js"></script>
    <script src="/js/apiFetch.js"></script>


</head>
<body>
<noscript><h1 class="notification is-warning compat-warn">Please enable Javascript to make use of all the features on this site.</h1></noscript>
<%- include('../shared/partials/navbar.ejs'); %>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-8">
            <h1 class="title">Welcome</h1>
            <p>
                Menzieshill Whitehall Swimming and Waterpolo Club is a charity, run solely by volunteers that has a long reputable history with many accolades. We are the 3rd largest aquatic club in Scotland. Membership is around 300, made up of swimmers, waterpolo players and volunteers. We have members from age 5 to 70 years of age. We cater for a wide range of swimming abilities, from Learn to Swim, Adult Improver to District and National Swimmers. Waterpolo players at the Club compete at Junior and Senior level in Local, District and National events.
            </p>
            <br>
            <p>
                The Club utilises 2 pools in Dundee, training 7 days a week, 52 weeks of the year. We encourage our members to grow and develop through best practice and good governance.
            </p>
            <br>
            <p>The Club is run by a Committee and governed by a constitution. There is also an army of other parent volunteers who make the Club run with Technical Officials, Team Managers, and those that help with our meets.</p>
            <p>The Club couldn’t do it without all these people, and we would encourage all parents to get involved.</p><br>
            <h2 class="subtitle is-uppercase">OFFICE BEARERS</h2>
            <table class="table is-bordered" id="officers">
                <tbody>
                <tr>
                    <th>President</th>
                    <td>Coral Walker</td>
                </tr>
                <tr>
                    <th>Vice President</th>
                    <td>Paul Strachan</td>
                </tr>
                <tr>
                    <th>Secretary</th>
                    <td>John Ingledew</td>
                </tr>
                <tr>
                    <th>Minute Secretary</th>
                    <td>Jill Harvey</td>
                </tr>
                <tr>
                    <th>Membership Secretary</th>
                    <td>Kirsty Shaw</td>
                </tr>
                <tr>
                    <th>Meet Secretary</th>
                    <td>Pete Donachie</td>
                </tr>
                <tr>
                    <th>Treasurer</th>
                    <td>Mark Nicoll</td>
                </tr>
                <tr>
                    <th>Head Swimming coach</th>
                    <td>Graeme Brown</td>
                </tr>
                <tr>
                    <th>Swimming Convenor</th>
                    <td>George Burke</td>
                </tr>
                <tr>
                    <th>Water Polo Team Manager</th>
                    <td>Graeme Wishart</td>
                </tr>
                <tr>
                    <th>WATERPOLO CONVENOR</th>
                    <td>Andrea Baker</td>
                </tr>
                <tr>
                    <th>PRESS and PUBLICITY OFFICER</th>
                    <td>Karen McGovern</td>
                </tr>
                <tr>
                    <th>VOLUNTEER COORDINATOR</th>
                    <td>Lynsey McNaughton </td>
                </tr>
                <tr>
                    <th>FUNDRAISING CONVENOR</th>
                    <td>Vacant</td>
                </tr>
                <tr>
                    <th>WELLBEING AND PROTECTION OFFICERS</th>
                    <td>Louise Hunter and Steve Adams</td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>

</section>


<!-- Footer-->
<%- include('../shared/partials/footer.ejs'); %>

</body>
</html>
