.daybox-heading {
    border-bottom: 1px solid gray;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    max-width: 90%;
}
.daybox {
    padding-left: 0.5rem;
}
.daybox-content {
    padding-left: 0.5rem;
}
.event-list {
    height: 80vh;
    overflow-y: scroll;
    padding-right: 0.5rem;

}

.event {
    border-radius: 5px;

    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    max-width: 88%;
}
.event:hover {
    background-color: rgba(212, 212, 212, 0.2);
}

.event.is-active {
    background-color: rgba(212, 212, 212, 0.2);
}
.event-icon {
    margin-top: 0.5rem;
}

.fixed-message {
    position: fixed;
    z-index: 9999;
    top: 3.5rem;
    right: 0.5rem;
    transition: .3s;
    max-width: 30rem;
}
.fixed-message .message {
    margin-bottom: 0.5rem;
}

@-webkit-keyframes slideInRight {
    from {
        visibility: visible;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        visibility: visible;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
}

@keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#cancellation-form {
    min-height: 50vh;
}
.event-editor {
    overflow-y: scroll;
    height: 80vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.cancellation-list .cancellation-item {
    cursor: pointer;
    overflow-x: hidden;
}
.sidebar-menu {
    margin-top: 1vh;
    padding-left: 0.75rem;
}
.sidebar {
    padding-top: 0.75rem;
}
.add-margin-left {
    margin-left: 1rem;
}
.fas.fa-cog {
    cursor: pointer;
}