<footer class="footer has-background-dark has-text-light">
    <p class="is-size-6 has-text-centered">The new Menzieshill whitehall website, created by <a href="https://josh.muir.xyz">Josh Muir</a>.</p>
            <div class="content has-text-centered">
                <h3>Site links</h3>
                <p><a href="/privacy">Privacy Policy</a></p>
                <p><a href="/contact">Contact us</a></p>
                <p><a href="/admin">Admin console</a></p>
                <p><a href="https://www.facebook.com/Menzieshill-Whitehall-Swimming-and-Waterpolo-Club-137997236241813/">Find us on Facebook!</a></p>
            </div>
    <div class="columns is-centered is-mobile">
        <div class="column is-2">
            <img src="/img/swimark.jpg" alt="Swimark logo" class="mark"/>
        </div>
        <div class="column is-2">
            <img src="/img/polomark.jpg" alt="Polomark logo" class="mark"/>
        </div>
    </div>

</footer>

<div class="has-background-black-ter has-text-light">
    <p class="has-text-centered">
        Copyright 2020 Menzieshill Whitehall Swimming & Water Polo club (SCO46868)
    </p>
</div>
