<footer class="footer has-background-dark has-text-light">
    <p class="is-size-6 has-text-centered">The new Menzieshill whitehall website, created by Josh Muir.</p>
    <div class="columns is-centered">
        <div class="column is-2">
            <div class="content is-3 has-text-centered">
                <h3>Site links</h3>
                <p><a href="/terms">Terms of service</a></p>
                <p><a href="/admin">Admin console</a></p>
            </div>
        </div>


    </div>

</footer>

<div class="has-background-black-ter has-text-light">
    <p class="has-text-centered">
        Copyright 2020 Menzieshill Whitehall Swimming & Water Polo club (SCO46868)
    </p>
</div>