#list-data tr {
    cursor: pointer;

}
#prev-parent * {
    display: inline-block;
}
#prev-parent .button {
    margin-right: 0.5vw;
}

#grid-data .is-vcentered {
    height: 100%;
    text-align: center;
}
#grid-data .outerBox .is-vcentered .icon {
    margin:auto;
}
.outerBox {
    height: 17.5vw;
    cursor: pointer;
}
.file-box {
    height: 100%;
}
.modal img {
    max-height: 70vh;
}
.m-box {

}
.modal .modal-content .box {
    min-height: 30vh;
    margin-bottom: 0.2em;
}
.modal .modal-content .image img {
    width: auto;
    margin: auto;
}
#main-container {
    min-height: 90vh;
    padding-bottom: 5vh;
}
#prev-parent {
    margin-bottom: 2vh;
}