.hero-img {
    background-image: url("/img/land-training.png");
    background-repeat: no-repeat;
    background-position-x: center;
    height: 450px;
}
.section-one {
    padding-top: 11px;
    height: 70vh;
}
.section-one .left-part {
    height: 103%;
    padding: 1vw 1vw 1vw 3vw;
}
.section-one .columns {
    height: 100%;
    margin-bottom: 0;

}
.vertical-divider {
    border-right: 1px solid gray;
}
