.colour-outer {
    background-color: #f0f0f0;
}
.colour-inner{
    background-color: #fff;
}
#bronze {
    background-color: #cd7f32;
    color: #fff;
}
#silver {
    background-color: #c0c0c0;
}
#gold {
background-color: #FFD700;

}
