<!-- TODO: Make selected 'page' dynamic -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/logo.jpg"  alt="Logo">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>

    <div class="navbar-menu" id="main-navbar">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="/contact">
                Contact us
            </a>
            <a class="navbar-item" href="/the-committee">
                Who we are
            </a>
            <a class="navbar-item" href="/docs">
                Documents
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/swimming">
                        Swimming
                    </a>
                    <a class="navbar-item" href="/waterpolo">
                        Water Polo
                    </a>
                    <a class="navbar-item" href="/openwater">
                        Open Water
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/admin">
                        Admin console
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item nav-login-button">
                <div class="buttons">
                    <a class="button" href="/login">
                        <strong>Log in</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });//
      });
    }
    const loginBox = document.getElementsByClassName("nav-login-button")[0];
    (async function getUserInfo () {
           const userInfo = await Api.get("/users/@me");
           if (!userInfo.error) {
               removeChildren(loginBox)
               const userText = document.createElement("p")
               userText.innerText = userInfo.username
               loginBox.appendChild(userText)
           }
      })()

  });
</script>