<!-- Shared recent updates -->
<script src="/js/posts.js"></script>
<section class="section">
    <!-- "Recent posts" -->
    <h1 class="title has-text-centered">Recent updates</h1>
    <hr>
    <div class="posts-parent">

    </div>
</section>