<!-- Shared recent updates -->
<script src="/js/posts.js"></script>

<section class="section">
<h1 class="title has-text-centered">Recent updates</h1>
<!-- "Recent posts" -->
<hr>
<div class="columns">
    <div class="column is-9">


            <div class="posts-parent">

            </div>

    </div>
    <div class="column">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMenzieshill-Whitehall-Swimming-and-Waterpolo-Club-137997236241813&tabs=timeline&height=1000&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false"  style="border:none;overflow:hidden; height: 99%;" width="340px" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
</section>
